body {
    background-color: #f2f6ff;
    margin: 0;
    padding: 32px;
}

form {
    background-color: white;
    text-align: center;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
}

#login-form {
    padding-top: 18px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 70px;
}

#username,
#password {
    font-size: 18px;
    padding-bottom: 12px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 8px;
    width: 100%;
}

#btn-submit {
    background-color: #0056ff;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 8px;
}

#username-err,
#password-err {
    color: red;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 24px;
    text-align: left;
    display: none;
}
